:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  text-align: center;
}

.foodbox-main{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: 40px auto;
  border: 1px solid white;
  background: linear-gradient(90deg, #d054f2 0%, #236ba9 100%); 
  border-radius: 20px;
}

.foodbox-main-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid white; */
  width: 50%;

}
.foodbox-main-left img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.foodbox-main-left input{
  height: 60px;
  height: 37px;
}

.foodbox-main-right{
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.add{
  width: 60px;
  height: 40px;
  font-size: large;
  cursor: pointer;
}

.reset{
  width: 80px;
  height: 40px;
  font-size: large;
  cursor: pointer;
}